{% extends 'layouts/login_base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
    

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'main/img/img-01.png' %}" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="{% url 'users:register' %}", method="post">
                    {% csrf_token %}
					<span class="login100-form-title">
						Registration
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<!-- <input class="input100" type="username" name="name" placeholder="Username"> -->
						{{ registration_form.username|as_crispy_field }}

                        
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>


				
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<!-- <input class="input100" type="password" name="pass" placeholder="Password"> -->
						{{ registration_form.password|as_crispy_field }}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<!-- <input class="input100" type="password" name="pass" placeholder="Confirm Password"> -->
						{{ registration_form.confirm_password|as_crispy_field }}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

	

					<div class="text-center p-t-136">
						
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

{% endblock  %}
